h1, h2,
h3 {
    font-family: Georgia;
}

body {
    font-family: Arial;
    font-size: 16px;
    background-color: #97d4be;
}

img {
    height: 200px;
    width: 350px;
}

p {
    width: 750px;
}

nav {
    background-color: #5fc45f;
    margin: 10px 0;
    padding: 5px;
    max-width: 100%;
}